<div class="login-container">
  <div><h1 class="title">Register</h1>
  <form class="register-form">

    <input class="email" 
    type="email" 
    placeholder="example@gmail.com" />
    <hr />
    <input
      class="username"
      type="username"
      placeholder="Enter Your Username"
    />
    <hr />
    <input
      class="password-login"
      type="password"
      placeholder="Enter Password"
    />
    <hr />
    <button type="submit">Click to register</button>
    <br />
    

  </form>
  </div>
</div>